<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					 
	</head>
	<body class ="def"><center>Welcome
	</br></br></br></br></br>
				<a href="{{ url_for('login') }}" class="btn">Login/signup</a></center>
                <style>
                     body{
                        background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fhospital&psig=AOvVaw2kMFJn5JxNIVi-RPYA6ARc&ust=1708261362889000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJiKjsW3soQDFQAAAAAdAAAAABAE);
                   
                }
                
                </style>
	
	</body>
</html>
